Vagrant.configure(2) do |config|
  config.vm.provider 'libvirt' do |lv|
    lv.machine_type = 'q35'
    lv.loader = '/usr/share/ovmf/OVMF.fd'
    lv.graphics_type = 'spice'
    lv.video_type = 'qxl'
    lv.disk_bus = 'scsi'
    lv.disk_device = 'sda'
    lv.channel :type => 'unix', :target_name => 'org.qemu.guest_agent.0', :target_type => 'virtio'
    lv.channel :type => 'spicevmc', :target_name => 'com.redhat.spice.0', :target_type => 'virtio'
  end
end
